---
layout: default
current: compilehealth
class: compilehealth-template
disqus: false
header_extra: project-compilehealth.html
hide_footer: true
---

<!-- < default -->
<!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template -->

<!-- The big featured header, it uses blog cover image as a BG if available -->
<header class="site-header outer">
    <div class="inner">
        {% include site-nav.html %}
    </div>
</header>

<!-- Everything inside the #post tags pulls data from the post -->
<!-- #post -->

<style>
    span.code {
        font-family: Fira Code, monospace;
    }

    span.cpp-header {
        font-weight: bold;
        color: #569cd6;
    }

    .tabulator-row.tabulator-group {
        min-height: 0 !important;
    }

    .tabulator-row .tabulator-cell {
        padding: 5px !important;
    }

    .tabulator-row {
        min-height: 20px !important;
    }

    .tabulator-row.tabulator-row-odd {
        background: #f6f6f6;
    }

    .unit-suffix {
        color: #888;
    }

    .result-nr {
        color: rgb(33, 57, 77);
    }

    div.tabulator-header-filter {
        position: absolute !important;
        top: 8px;
        left: 140px;
        right: 30px;
        width: auto !important;
    }

    .content {
        padding-left: 16px;
    }

    .content h2 {
        margin-top: 16px;
    }

    .content li {
        margin-top: 1px;
        margin-bottom: 1px;
    }

    div.ui-tooltip.cell-tooltip {
        max-width: 500px !important;
    }
</style>

<div class="content">
    {{ content }}
</div>

<div id="compile-table"></div>

<div id="impact-tooltip" style="display: none;">
    This score estimates the impact of the file a build.
    It is a combination of the compile time and the resulting binary size
    (see blog post for details).
</div>

<div id="timing-tooltip" style="display: none;">
    The increase of compile time when adding <span class="code cpp-header">#include &lt;file&gt;</span> to an otherwise
    empty file.
    Hover over individual entries for details.
</div>

<div id="lines-tooltip" style="display: none;">
    Lines of code of the file and its transitive dependencies.
    This is after preprocessing, without comments, and only lines with at least one alphanumerical character are
    counted.
    Hover over individual entries for details.
</div>

<div id="binary-tooltip" style="display: none;">
    The increase in binary object size when adding <span class="code cpp-header">#include &lt;file&gt;</span> to an
    otherwise empty file.
    This includes all exported symbols, external symbols, data symbols, and debug information (if applicable).
    Hover over individual entries for details.
</div>

<script>

    function round1(v) {
        if (Math.round(v * 10) / 10 == 0)
            return "0"
        return (Math.round(v * 10) / 10).toFixed(1)
    }

    function rangeR(d, div, suffix, v0, v1) {
        var prefix = "<span class='result-nr'>";
        if (suffix !== "")
            suffix = " <span class='unit-suffix'>" + suffix + "</span>";

        var only_first = v1 === undefined
        v0 /= div;
        v1 /= div;
        if (d == 0) {
            v0 = Math.round(v0)
            v1 = Math.round(v1)
        }
        else if (d == 1) {
            v0 = round1(v0)
            v1 = round1(v1)
        }
        if (only_first || v0 == v1)
            return prefix + v0 + suffix;
        return prefix + v0 + " .. " + v1 + "</span>" + suffix;
    }
    function rangeRA(d, div, suffix, vs) {
        return rangeR(d, div, suffix, vs[0], vs[1]);
    }

    function formatTime(v0, v1) {
        return rangeR(0, 1, "ms", v0, v1);
    }
    function formatLoC(v0, v1) {
        return rangeR(1, 1000, "kLoC", v0, v1);
    }
    function formatBin(v0, v1) {
        return rangeR(1, 1024, "kB", v0, v1);
    }

    function computeImpactTime(e) {
        var t = e.ctime_raw; // in ms
        return Math.round(100 * (1 - 200 / (200 + t)));
    }
    function computeImpactBin(e) {
        var b = e.object_size; // in B
        return Math.round(100 * (1 - 100 * 1024 / (100 * 1024 + b)));
    }
    function computeImpact(e) {
        return computeImpactBin(e) + computeImpactTime(e);
    }

    function getRange(e, name) {
        var min = e[name];
        var max = e[name];

        if (e._children) {
            var i
            for (i = 0; i < e._children.length; ++i) {
                var v = e._children[i][name];

                if (v < min) min = v;
                if (v > max) max = v;
            }
        }

        return [min, max];
    }

    function makeTTable(vals) {
        var tt = "<table>";
        var i;
        for (i = 0; i < vals.length; ++i) {
            tt += "<tr>";
            tt += "<td style='text-align:right;'>"
            tt += vals[i][0];
            tt += "</td>";
            tt += "<td>&nbsp;<span class='unit-suffix'>";
            tt += vals[i][1];
            tt += "</span></td>";
            tt += "</tr>";
        }
        tt += "</table>";
        return tt
    }

    function buildTimeTooltip(e) {
        return makeTTable([
            [rangeRA(0, 1, "", getRange(e, "ctime_raw")), "ms compile time (increase)"],
            [rangeRA(0, 1, "", getRange(e, "compile_time")), "ms compile time (total)"],
            [rangeRA(0, 1, "", getRange(e, "compile_time_base")), "ms compile time (baseline)"],
            [rangeRA(0, 1, "", getRange(e, "ptime_raw")), "ms preprocessing time (increase)"],
            [rangeRA(0, 1, "", getRange(e, "preprocessing_time")), "ms preprocessing time (total)"],
            [rangeRA(0, 1, "", getRange(e, "preprocessing_time_base")), "ms preprocessing time (baseline)"],
        ]);
    }

    function buildImpactTooltip(e) {
        return makeTTable([
            [rangeRA(0, 1, "", getRange(e, "impact")), "impact score"],
            [rangeRA(0, 1, "", getRange(e, "impact_time")), "impact score (from timing)"],
            [rangeRA(0, 1, "", getRange(e, "impact_bin")), "impact score (from binary)"],
        ]);
    }

    function buildLineTooltip(e) {
        return makeTTable([
            [rangeRA(0, 1, "", getRange(e, "line_count")), "LoC stripped"],
            [rangeRA(0, 1, "", getRange(e, "line_count_raw")), "LoC raw"],
        ]);
    }

    function buildBinaryTooltip(e) {
        return makeTTable([
            [rangeRA(0, 1, "", getRange(e, "object_size")), "B obj size (increase)"],
            [rangeRA(0, 1, "", getRange(e, "object_size_full")), "B obj size (total)"],
            [rangeRA(0, 1, "", getRange(e, "undefined_symbol_count")), "external symbol(s)"],
            [rangeRA(0, 1, "", getRange(e, "code_symbol_count")), "exported symbol(s)"],
            [rangeRA(0, 1, "", getRange(e, "data_symbol_count")), "data symbol(s)"],
            [rangeRA(0, 1, "", getRange(e, "undefined_symbol_size")), "B external symbol size"],
            [rangeRA(0, 1, "", getRange(e, "code_symbol_size")), "B exported symbol size"],
            [rangeRA(0, 1, "", getRange(e, "data_symbol_size")), "B data symbol size"],
        ]);
    }

    function createTable(table, table_data) {
        // post-process data a bit
        var data = [];
        var i;
        for (i = 0; i < table_data.length; ++i) {
            var e = table_data[i];

            var t = e.compile_time - e.compile_time_base
            if (t < 0) t = 0;
            e.ctime_raw = Math.round(t * 1000);
            e.compile_time = Math.round(e.compile_time * 1000);
            e.compile_time_base = Math.round(e.compile_time_base * 1000);
            if (e.compile_time_base > e.compile_time)
                e.compile_time = e.compile_time_base;

            t = e.preprocessing_time - e.preprocessing_time_base
            if (t < 0) t = 0;
            e.ptime_raw = Math.round(t * 1000);
            e.preprocessing_time = Math.round(e.preprocessing_time * 1000);
            e.preprocessing_time_base = Math.round(e.preprocessing_time_base * 1000);
            if (e.preprocessing_time_base > e.preprocessing_time)
                e.preprocessing_time = e.preprocessing_time_base;

            e.object_size_full = e.object_size;
            e.object_size -= e.object_size_base;
            if (e.object_size < 0)
                e.object_size = 0;
            // e.argstr = "<pre>" + e.argstr + "</pre>";

            e.impact = computeImpact(e);
            e.impact_time = computeImpactTime(e);
            e.impact_bin = computeImpactBin(e);

            e.ctime_max = e.ctime_raw
            e.binsize_max = e.object_size
            e.lines_max = e.line_count

            if (i > 0 && data[data.length - 1].file == e.file) {
                data[data.length - 1]._children.push(e);
            }
            else // new file
            {
                c = JSON.parse(JSON.stringify(e));
                e._children = [c];
                data.push(e);
            }
        }
        var proj_idx = 0
        for (i = 0; i < data.length; ++i) {
            var e = data[i];
            if (i > 0 && data[i - 1].project != e.project)
                proj_idx += 1
            e.argstr = "...";
            e.compiler_name = "...";
            var imsum = 0;
            var ctmin = e.ctime_raw
            var ctmax = e.ctime_raw
            var locmin = e.line_count
            var locmax = e.line_count
            var binmin = e.object_size
            var binmax = e.object_size
            var j;
            for (j = 0; j < e._children.length; ++j) {
                var c = e._children[j];
                imsum = c.impact > imsum ? c.impact : imsum;
                if (c.ctime_raw < ctmin) ctmin = c.ctime_raw;
                if (c.ctime_raw > ctmax) ctmax = c.ctime_raw;
                if (c.line_count < locmin) locmin = c.line_count;
                if (c.line_count > locmax) locmax = c.line_count;
                if (c.object_size < binmin) binmin = c.object_size;
                if (c.object_size > binmax) binmax = c.object_size;

                c.name = " <span class='code'>" + c.compiler + " " + c.argstr + "</span>";
                c.ctime = formatTime(c.ctime_raw);
                c.lines = formatLoC(c.line_count);
                c.binsize = formatBin(c.object_size);
            }
            e.name = "<span class='code cpp-header'>" + e.name
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;") + "</span>";
            e.impact = imsum; // / e._children.length;
            e.ctime = formatTime(ctmin, ctmax);
            e.lines = formatLoC(locmin, locmax);
            e.binsize = formatBin(binmin, binmax);
            e.ctime_max = ctmax
            e.lines_max = locmax
            e.binsize_max = binmax
            e.project_idx = proj_idx
        }

        table.setData(data);
    }

    $(function () {

        // TODO:
        // - more entries / libs
        // - two-level nodes for multi-version libs?
        // - compress data.js a bit (by not repeating everything)
        // - proper merge of multiple data files (add your own json!)
        // - filter by c++ version (and update ranges)
        // - links to projects in group header (poject_url)
        // - debug / release / rel with deb info
        // - list of includes per header (only those also in the table?)


        var headerAlignRight = function (cell, formatterParams, onRendered) {
            cell.getElement().style.textAlign = 'right';
            return '' + cell.getValue()
        }

        var make_sorter = function (name) {
            return function (a, b, aRow, bRow, column, dir, sorterParams) {
                var da = aRow.getData();
                var db = bRow.getData();
                if (da.project_idx != db.project_idx)
                    return dir == "asc" ? da.project_idx - db.project_idx : db.project_idx - da.project_idx
                else
                    return da[name] - db[name]
            };
        }
        var make_str_sorter = function (name) {
            return function (a, b, aRow, bRow, column, dir, sorterParams) {
                var da = aRow.getData();
                var db = bRow.getData();
                if (da.project_idx != db.project_idx)
                    return dir == "asc" ? da.project_idx - db.project_idx : db.project_idx - da.project_idx
                else {
                    var sa = da[name];
                    var sb = db[name];
                    return sa < sb ? -1 : sa > sb ? 1 : 0;
                }
            };
        }

        var file_filter = function (headerValue, rowValue, rowData, filterParams) {
            if (headerValue === "")
                return true;
            return rowData.file.toLowerCase().includes(headerValue.toLowerCase())
        }

        // see http://tabulator.info/docs/4.6/quickstart
        var table = new Tabulator("#compile-table", {
            height: "1000",
            layout: "fitColumns",
            groupBy: "project",
            dataTree: true,
            columns: [
                {
                    title: "Header / Source",
                    field: "name",
                    formatter: "html",
                    sorter: make_str_sorter("name"),
                    headerFilter: true,
                    headerFilterFunc: file_filter,
                    minWidth: 300,
                },
                {
                    title: "Version",
                    field: "version",
                    width: 100,
                    sorter: make_str_sorter("version"),
                },
                {
                    title: '<span header-tooltip="impact-tooltip">Impact <i class="fas fa-info-circle"></i></span>',
                    field: "impact",
                    width: 120,
                    formatter: "progress",
                    formatterParams: {
                        min: 0,
                        max: 100,
                        color: ["green", "orange", "red"],
                        legend: "",
                    },
                    sorter: make_sorter("impact"),
                    cellMouseOver: function (e, cell) {
                        $(cell.getElement()).tooltip({
                            show: 0,
                            hide: 0,
                            content: buildImpactTooltip(cell.getData()),
                            tooltipClass: "cell-tooltip",
                        });
                    },
                },
                {
                    title: '<span header-tooltip="timing-tooltip">Timing <i class="fas fa-info-circle"></i></span>',
                    field: "ctime",
                    width: 140,
                    titleFormatter: "html",
                    formatter: "html",
                    hozAlign: "right",
                    titleFormatter: headerAlignRight,
                    sorter: make_sorter("ctime_max"),
                    cellMouseOver: function (e, cell) {
                        $(cell.getElement()).tooltip({
                            show: 0,
                            hide: 0,
                            content: buildTimeTooltip(cell.getData()),
                            tooltipClass: "cell-tooltip",
                        });
                    },
                },
                {
                    title: '<span header-tooltip="lines-tooltip">Lines <i class="fas fa-info-circle"></i></span>',
                    field: "lines",
                    width: 160,
                    formatter: "html",
                    hozAlign: "right",
                    titleFormatter: headerAlignRight,
                    sorter: make_sorter("lines_max"),
                    cellMouseOver: function (e, cell) {
                        $(cell.getElement()).tooltip({
                            show: 0,
                            hide: 0,
                            content: buildLineTooltip(cell.getData()),
                            tooltipClass: "cell-tooltip",
                        });
                    },
                },
                {
                    title: '<span header-tooltip="binary-tooltip">Binary <i class="fas fa-info-circle"></i></span>',
                    field: "binsize",
                    width: 120,
                    formatter: "html",
                    hozAlign: "right",
                    titleFormatter: headerAlignRight,
                    sorter: make_sorter("binsize_max"),
                    cellMouseOver: function (e, cell) {
                        $(cell.getElement()).tooltip({
                            show: 0,
                            hide: 0,
                            content: buildBinaryTooltip(cell.getData()),
                            tooltipClass: "cell-tooltip",
                        });
                    },
                },
            ],
            groupHeader: function (value, count, data, group) {
                return value + "<span style='color:#777; margin-left:10px;'>(" + count + " files)</span>";
            },
            groupStartOpen: function (value, count, data, group) {
                return value == "C++ Standard Library";
            },
            rowClick: function (e, row) {
                row.treeToggle();
                $("div.ui-tooltip").remove();
                $("div.ui-helper-hidden-accessible").remove();
            },
            groupToggleElement: "header",
            placeholder: "Loading Compile Health Data ...",
            resizableColumns: false,
            tableBuilt: function () {
                $(document).tooltip({
                    items: "[header-tooltip]",
                    content: function () {
                        var e = $(this);
                        if (e.is("[header-tooltip]"))
                            return document.getElementById(e.attr("header-tooltip")).innerHTML;
                    },
                    show: 0,
                    hide: 0,
                });
            },
        });

        $.getJSON("{{ site.baseurl_fix }}assets/compile-health/compile-health-data.json", function (data) {
            createTable(table, data);
        });

        function adaptSize() {
            var wh = $(window).height();
            var y = $("#compile-table").offset().top
            var th = wh - y - 1;
            if (th < 0.8 * wh || wh < 1000)
                th = Math.round(wh);
            table.setHeight(th);
        }

        $(window).resize(adaptSize);
        adaptSize();
    });
</script>

<!-- /post -->

<!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs -->
{% include page-scripts.html %}